@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}
body {
	margin-top: 0;
	/* padding: 10px 30px; */
}
.content {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
}
.content:hover {
	background-image: linear-gradient(
		to right,
		rgba(112, 157, 255, 1),
		hsla(242, 74%, 61%, 1)
	) !important;
}
